<section class="public-section">
  <h1 class="publicTitleRecep">Public Recipes</h1>
  <ul class="recipes-list">
        <% if @recipes.empty? %>
          <li>
              There are no public recipes yet...
          </li>
          <% end %>
          <% @recipes.each do |recipe|%>
          <li class="public-recipe">
              <div class="recipe-card">
                <div>
                  <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
                  <h4>By: <%= recipe.user.name %> </h4>
                </div>
                <div class="info-card-pub">
                  <h4> Total food items: <%= recipe.recipe_foods.count %> </h4>
                  <p>Price: </p>
                </div>
              </div>

          </li>
          <% end %>
  </ul>
</section>
