 <div class="">
   <h1 class="">Recipes</h1>
    <div class="" >
      <%= link_to "New recipe", new_recipe_path, class: "" %>
    </div>
    <% @recipes.each do |public_recipe| %>
      <%= render partial: "public_recipe", locals: { public_recipe: public_recipe } %>
    <% end %>
</div>
