<li class="recipe-listing">
  <div class="recipe-name">
    <%= link_to recipe.name, recipe_path(recipe) %>
  </div>
  <div class="delete-button">
    <%= button_to "Delete", recipe_path(recipe), :method => :delete, data: {turbo_method: :delete}, class: "" %>
  </div>
  <div class="recipe-description">
    <%=recipe.description%>
  </div>
</li>