 <div class="">
 <h1 class="heading">Recipes</h1>
    <div class="" >
      <%= link_to "New recipe", new_recipe_path, class: "add-btn" %>
    </div>
 <% @recipes.each do |recipe| %>
            <%= render recipe %>
        <% end %>
  </div>