<div class="container">
	<div class="row">
		<div class="col-12 text-center mt-3 mb-3">
			<%= link_to "Add Food", new_food_path, class: "add-food-btn" %>
		</div>
		<div class="col-12">
			<table class="food-table">
				<thead class="table-header">
					<tr>
						<th class="table-header-cell">Food</th>
						<th class="table-header-cell">Quantity</th>
						<th class="table-header-cell">Measurement</th>
						<th class="table-header-cell">Unit Price</th>
						<th class="table-header-cell">Action</th>
					</tr>
				</thead>
				<% @foods.each do |food|%>
				<%= render 'food', food: food %>
				<% end %>
			</table>
		</div>
	</div>
</div>

<style>
	.table {
		border-spacing: 0 15px;
	}

	i {
		font-size: 1rem !important;
	}

	.table tr {
		border-radius: 20px;
	}

	tr td:nth-child(n+5),
	tr th:nth-child(n+5) {
		border-radius: 0 .625rem .625rem 0;
	}

	tr td:nth-child(1),
	tr th:nth-child(1) {
		border-radius: .625rem 0 0 .625rem;
	}
</style>