<div class="">
	<div class="">
     <div class=""><%= link_to "Add Food", new_food_path, class: "" %></div>
		<div class=" ">
			<table class="">
				<thead class="">
					<tr>
						<th class="">Food</th>
						<th class="">Quantity</th>
						<th class="">Measurement</th>
						<th class="">Unit Price</th>
						<th class="">Action</th>
					</tr>
				</thead>
        <% @foods.each do |food|%>
        <%= render 'food', food: food %>
        <% end %>
        </table>
                </div>
	</div>
</div>
<style>
	.table {
		border-spacing: 0 15px;
	}

	i {
		font-size: 1rem !important;
	}

	.table tr {
		border-radius: 20px;
	}

	tr td:nth-child(n+5),
	tr th:nth-child(n+5) {
		border-radius: 0 .625rem .625rem 0;
	}

	tr td:nth-child(1),
	tr th:nth-child(1) {
		border-radius: .625rem 0 0 .625rem;
	}
</style>