<tbody>
  <tr class="">
    <td class="">
      <div class="">
        <div class="">
          <div class=""><%= recipe_food.food.name%></div>
        </div>
      </div>
    </td>
    <td class="">
      <%= recipe_food.quantity %>
    </td>
    <td class="">
      <%= recipe_food.quantity * recipe_food.food.price %>
    </td>
    <td class=" ">
      <span class="">
        <i><%= button_to "Delete ingredient", "#{recipe_recipe_foods_path(@recipe)}/#{recipe_food.id}", method: :delete, data: { confirm: "Are you sure?" }, class: 'delete-button' %></i>
        </span>
    </td>
  </tr>
</tbody>